extends layout_master

include mixins/dialog
include mixins/footer
include mixins/header

block styles

block scripts

block content
	section.wrapper
		mixin header(_message)
		section.main_content
			p
				| #{_message}
			a(href="#{_link}") the error page
		mixin footer(_page)
		mixin dialog-title("error dialog", "stuff")
block extra
	script(src="scripts/HP.js")
