!!! 5
html(lang="en")
	head
		meta(charset="UTF-8")
		title @TODO
		meta(name="description", content="@TODO")
		link(rel="stylesheet", href="styles/reset.css")
		link(rel="stylesheet", href="styles/main.css")
		link(rel="stylesheet", href="styles/dialog.css")
		link(rel="stylesheet", href="styles/tablet.css")
		link(rel="stylesheet", href="styles/mobile.css")
		block styles
		block scripts
	body
		block content
			section.main_wrapper
				section Some master text in this section
		script(src="scripts/jquery-1.9.0.min.js")
		script GEB = {};
		script(src="scripts/EB.js")
		block extra
			section @TODO original block
		script(src="scripts/RS.js")
		script(src="scripts/EH.js")
		



