extends layout_master

include mixins/dialog
include mixins/footer
include mixins/header

block styles

block scripts

block content
	section.wrapper
		mixin header(_message)
		section.main_content
			p
				| @TODO #{_message}
			a(href="#{_link}") my public home info @TODO
		mixin footer(_page)
		mixin dialog-title("new dialog", "stuff")
		//@TODO ^ 
block extra
	// @TODO remove these comments
	//addding a custom script for the homepage
	script(src="scripts/HP.js")
