extends layout_master

include mixins/dialog
include mixins/footer
include mixins/header

block styles

block scripts

block content
	section.wrapper
		mixin header(_message)
		section.main_content
			p
				| @TODO #{_message}
			a(href="#{_link}") my info @TODO
		mixin footer(_page)
		mixin dialog-title("login", "stuff")
		//@TODO ^
block extra
	// addding a custom script for the homepage
	script(src="scripts/HP.js")
	