body{
	font-family: sans-serif;
	background-color: rgb(159, 159, 198);
}
.hidden{
	display: none;
}
.wrapper{
	background-color: green;
	width: 90%;
	margin: 1% auto;
}
header{
	background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
}
h1{
	padding: 19px 20px;
	color: #F1EEEE;
	text-transform: capitalize;
	font-size: 2em;
	background-color: #E2482B;
	text-shadow: 0px -1px 1px rgba(207, 208, 213, 0.6);
}
p{
	line-height: 1.3em;
	padding: 12px 20px;
}
.main_content{
	background-color: rgba(173, 199, 132, 1);
}